body{
    font-family: sans-serif;
    background-color:darksalmon;
}
h1{
    text-align:center;
    color:chocolate;
    margin:30px 0 50px;
}
.fotos{
    margin:10px 50px;
}
.fotos img{
    width:230px;
    padding:5px;
    transition:1s;
}
.fotos img:hover{
    transform:scale(1.1);
}