body{
   
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    background: white;
    }
   header h1{
    font-size: 1.5rem;
        color:rgb(47, 32, 32);
        margin:1rem auto;
        padding:0;
        text-align:center;
        width:50%;
    }
    h2{
        color:rgb(63, 52, 52);;
        margin:1rem auto;
        padding:0;
        text-align:center;
        width:50%;
    }
    h6{
        color:white;
        margin:1rem auto;
        padding:0;
       
        width:25%;
    }
    h4{
        color:rgb(63, 52, 52);
        margin:1rem auto;
        padding:0;
        text-align:center;
        width:50%;
    }
main{
   
    margin:1rem;
    padding: 1rem;
    text-align:center;

}

.fotos.img{
    width:230px;
    padding:5px;
    transition:1s;
    align-items: center;
}
.fotos{
    width:30;
    display:block;
    margin:0px auto;

}
.p{
    text-align: center;
}
.para{
    text-align: center;
}